<a href="https://colab.research.google.com/github/riyou0823/python001/blob/main/%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Round a number to only two decimals:
x = round(5.76543, 2)
print(x)


# Round to the nearest integer:
y = round(5.76543)
print(y)

5.77
6

In [ ]:
a = 1.0004
print(int(a))

b = 0.9999
print(int(b))

1
0

In [ ]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8]) # Slicing 切片運算

var1[0]:  H
var1[1:8]:  ello Py

In [ ]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2]) # Negative Indexing

llo
Hello
llo, World!
orl

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]
list1[-2]
list1[1:3]  # 切片運算

[33, 14]

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

len(list1)
max(list1)
min(list1)
sum(list1)

210

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

print(len(list1),max(list1),min(list1),sum(list1))

6 98 12 210

In [17]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [18]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [19]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']